#checkout-page {
    position: relative;
    padding: 100px 20px;
    background-image: linear-gradient(var(--purple3), var(--purple1));
}

.fade-in {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}