#footer-page {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100 !important;
  display: inline-block;
}

#logo-wrapper {
  width: 100%;
  display: inline-block;
}

#logo-img-footer {
  width: 40px;
  display: inline-block;
}
