#header-page {
  position: fixed;
  height: 100%;
  z-index: 100;
}

.navbar-custom {
  background-color: var(--purple2);
}

.navbar-custom a {
  color: var(--purple5);
}

.navbar-custom a:hover {
  color: var(--purple4);
}

#menu-icon-button {
  width: 50px;
  height: 50px;
}

#menu-icon {
  width: 25px;
}

#logo-wrapper {
  width: 100%;
}

#logo-image {
  width: 40px;
  display: inline-block;
  margin-right: 15px;
}

.header-wrapper {
  width: 100%;
}

.header-image {
  width: 25px;
  display: inline-block !important;
  margin-right: 10px;
}

.title {
  display: inline-block !important;
}
