#sign-in-page {
  position: relative;
  padding: 100px 20px;
  top: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

#sign-in-card {
  width: 400px;
  height: 250px;
  margin: auto;
  background-color: var(--purple2);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: solid 3px var(--purple4);
  border-radius: 10px;
}

#login-form label {
  font-size: 20px;
  color: var(--purple5);
}

#sign-in-title {
  color: var(--purple5);
}

input[type="text"],
input[type="password"] {
  border: 2px solid var(--purple4);
  border-radius: 5px;
  color: var(--purple6);
}

#sign-in-button {
  margin: 10px 0px;
  width: 300px;
}

.image-wrapper {
  width: 100%;
}

.image {
  width: 25px;
}
